@mixin check {
    &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 8px;
        background: $checkcolor;
        top: 20px;
        left: 20px;
        transform: rotate(-45deg);
    }
    &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 21px;
        background: $checkcolor;
        transform: rotate(45deg);
    }
}